{% extends 'blog/base.html' %}
{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body>


      <div class="content container">
        <div class="row">
          <div class="col-md-8">
            {% block content %}
            <div class="section-heading text-center">
              <h2>Your big to do list!</h2>
              <p class="text-muted">Add more if you want to!</p>
              <hr>
            </div>
            <div class="buttons-coll">
              <a href="{% url 'post_new' %}"><button class="custom-btn btn-4"><span>Add item</span></button></a>

              <a href="{% url 'post_list'%}"><button class="custom-btn btn-4"><span>Filter Deadline</span></button></a>
            </div>
                {% for post in posts_title %}
                    <div class="post">
                    <ul id="myUL">
                      <a href="{% url 'post_detail' pk=post.pk %}"><li class="listitem">{{ post.item }}  <div class="postdate">{{post.deadline}}</div><a href="{% url 'post_remove' pk=post.pk %}"><span class="close">X</span></a></li> </a>
                    </ul>
                  </div>

                {% endfor %}

            {% endblock %}
              </div>
            </div>
       </div>


    </body>
</html>
